:root {
  color-scheme: light dark;

  --layout-color: light-dark(#e7e7e7, #181818);
  --body-color: light-dark(#dbdbdb, #242424);
  --layout-border-color: light-dark(#c3c3c3, #3c3c3c);
  --body-border-color: light-dark(#ababab, #545454);
  --dimmed-text-color: light-dark(#5f5f5f, #a0a0a0);
  --text-color: light-dark(#191919, #e6e6e6);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  background-color: var(--body-color);

  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

h1,
h2 {
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
select,
input {
  padding: 1px 4px;

  color: var(--text-color);
  background-color: var(--body-color);
  border: 2px solid var(--layout-border-color);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover,
select:hover {
  background-color: var(--layout-border-color);
}

.sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  border-right: 2px solid var(--layout-border-color);

  background-color: var(--layout-color);
}

.sidebar-general {
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}

.sidebar-general > * {
  margin: 5px 10px;
}

.sidebar-general button,
.sidebar-general select {
  border: 2px solid var(--layout-border-color);
}

.sidebar-general button[type="submit"] {
  grid-column: 1 / 3;
}

.sidebar-header {
  display: grid;
  align-items: center;
  padding-left: 10px;
  height: 25px;

  background-color: var(--layout-border-color);
}

.sidebar-list {
  display: grid;
  align-content: start;

  overflow-y: auto;
}

.sidebar-list button {
  text-align: left;
  padding-left: 10px;
  height: 25px;
  border: none;
  outline-offset: -3px;
}

.sidebar-header {
  font-weight: bold;
}

.resource form {
  display: grid;
  grid-template-areas:
    "navbar output"
    "content output";
  grid-template-rows: 75px 1fr;
  grid-template-columns: 3fr 2fr;
  height: 100vh;
}

nav {
  grid-area: navbar;
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid var(--layout-border-color);
  background-color: var(--layout-color);
}

nav > * {
  flex: 1;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.content {
  grid-area: content;
  overflow-y: auto;
}

.content > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  /* They break at ~330px each */
  @media (min-width: 1500px) {
    flex-direction: row;
  }
}

.content fieldset {
  flex: 1;
  border: 2px solid var(--body-border-color);
}

.option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  margin: 15px 10px;

  button,
  select,
  input {
    align-self: start;
    border: 2px solid var(--body-border-color);
  }

  div {
    display: flex;
    gap: 5px;
  }

  .info-toggle,
  .info-toggle:hover {
    padding: 0 0;
    border: none;
    cursor: pointer;
    background-color: var(--body-color);
  }

  small {
    color: var(--dimmed-text-color);
    font-style: italic;
  }

  small,
  .info {
    grid-column: 1 / 3;
  }
}

.output {
  grid-area: output;
  display: grid;
  grid-template-rows: auto 1fr;

  background-color: var(--layout-color);
  border-left: 2px solid var(--layout-border-color);
}

.output > div {
  display: flex;
  flex-direction: column;
}

.output > div > * {
  margin: 10px;
}

.output-options {
  display: flex;
  flex-direction: row;
}

.output-options > * {
  flex: 1;
}

pre {
  white-space: pre-wrap;
}
