#app {
  display: grid;
  grid-template-columns: 300px 1fr;
}

h1,
h2 {
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
select,
input {
  padding: 1px 4px;

  color: var(--text-color);
  background-color: var(--body-color);
  border: 2px solid var(--layout-border-color);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover,
select:hover {
  background-color: var(--layout-border-color);
}
