:root {
  color-scheme: light dark;

  --layout-color: light-dark(#e7e7e7, #181818);
  --body-color: light-dark(#dbdbdb, #242424);
  --layout-color-secondary: light-dark(#c3c3c3, #3c3c3c);
  --body-color-secondary: light-dark(#ababab, #545454);
  --text-color-dimmed: light-dark(#5f5f5f, #a0a0a0);
  --text-color: light-dark(#191919, #e6e6e6);
}

* {
  margin: 0;
  padding: 0;
}
